@import url("https://fonts.googleapis.com/css2?family=Lato:...");

@import "tailwindcss";

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@theme {
  --color-primary: #ffffff;
  --color-secondary: #0c303f;
  --color-accent: #e46857;

  --font-main: "Lato", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}

@media (max-width: 1023px) {
  html {
    -webkit-overflow-scrolling: touch;
  }

  body {
    overflow-x: clip;
    touch-action: pan-y pinch-zoom;
  }
}
